.aboutMain {
    padding-top: 100px;
    padding-left: 50px;
    width: 100%;

}

.aboutMain .part1 {
    width: 100%;
    display: flex;
}

.aboutMain .part1 .aboutMain1 {
    width: 50%;
    padding: 20px;
}

.aboutMain .part1 .aboutMain2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMain .part1 .aboutMain2 img {
    width: 50%;
}

.aboutMain .part1 .aboutMain1 .aboutbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30%;
    padding: 10px 12px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.12);

    box-shadow: 0 0 8px var(--primary-color-2);
}

.aboutMain .part1 .aboutMain1 .aboutbox .greenDot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgb(52, 211, 153);
    box-shadow: 0 0 5px rgb(52, 211, 153);
}

.aboutMain .part1 .aboutMain1 h1 {
    padding-top: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

.aboutMain .part1 .aboutMain1 h5 {
    padding-top: 10px;
    font-weight: 400;
    font-size: 17px;
}

.aboutMain .part1 .aboutMain1 .hobbyText {
    margin-top: 10px;
}

.aboutMain .part1 .aboutMain1 .hobbiesDiv {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.aboutMain .part1 .aboutMain1 .hobbiesDiv .hobby {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.12);
    cursor: pointer;
}

.aboutMain .part1 .aboutMain1 .hobbiesDiv .hobby .hobbyIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMain .part1 .aboutMain1 .hobbiesDiv .hobby:hover {
    box-shadow: 0px 0px 8px var(--primary-color-2);
    transition: box-shadow 0.5s ease;

}

.aboutMain .part1 .aboutMain1 .hobbiesDiv .hobby:hover .hobbyIcon {
    color: var(--primary-color);
    transform: scale(1.2);
    transition: color 0.5s ease,
        transform 0.5s ease;

}

.aboutMain .part2 {
    margin-top: 30px;
    text-align: center;
}

.aboutMain .part2 .qouteText {
    font-weight: 200;
}

.part3 {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part3 .mainHeading {
    margin-bottom: 30px;
}

.part3 .animationCard {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.part3 .animationCard::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background: conic-gradient(transparent 0deg,
            transparent 200deg,
            #c45cff 300deg,
            #ffffff 355deg,
            transparent 360deg);
    animation: rotateBorder 3s linear infinite;

}

@keyframes rotateBorder {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.part3 .animationCard::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: var(--background-color);
    border-radius: 18px;
}


.part3 .animationCard .experienceCard {
    border-radius: 20px;
    width: 100%;
    border: 1px solid var(--primary-color);
    z-index: 1;
}

.part3 .experienceCard .experienceMain {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--primary-color-2);
}


.part3 .experienceCard .experienceMain .experienceTab {
    padding: 15px;
    cursor: pointer;
    color: var(--light-grey);
    font-weight: 700;
}

.part3 .experienceCard .experienceMain .experienceTab:hover {
    color: white;


}

.part3 .experienceCard .experienceMain .active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.part3 .experienceCard .experienceMain .active:hover {
    color: var(--primary-color);

}

.part3 .experienceCard .experienceDetails {
    width: 100%;
    padding: 40px;
}

.part3 .experienceCard .experienceDetails .detailsHead {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.part3 .experienceCard .experienceDetails .detailsHead .headIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    border-radius: 50%;
    padding: 10px;
    color: var(--primary-color);
    background: var(--primary-color-2);
}

.part3 .experienceCard .experienceDetails .detailsHead .headText .positionDetails {
    display: flex;
    gap: 20px;
}

.part3 .experienceCard .experienceDetails .detailsHead .headText .companyName {
    padding-bottom: 5px;
    color: var(--primary-color);
}

.part3 .experienceCard .experienceDetails .detailsHead .headText .positionDetails .part {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--light-grey);
}

.part3 .experienceCard .experienceDetails .positionDescription {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.part3 .experienceCard .experienceDetails .positionDescription .experiencePoint {
    display: flex;
    font-weight: 300;
    gap: 10px;
}

.part3 .experienceCard .experienceDetails .positionDescription .experiencePoint span {
    color: var(--primary-color);
}

.part4 {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 100px;
}

.part4 .mainHeading {
    padding-bottom: 30px;
}

.part4 .equcationCard {
    width: 80%;
    display: flex;
    padding: 20px;
    border: 1px solid var(--primary-color);
    background: rgba(255, 255, 255, 0.04);
    gap: 20px;
    box-shadow: 0px 0px 8px var(--primary-color-2);
    border-radius: 10px;
}

.part4 .equcationCard:hover {
    transform: scale(1.008);
    box-shadow: 0px 0px 8px var(--primary-color-5);
    transition: transform 0.5s ease-in,
        box-shadow 0.5s ease-in;
}

.part4 .equcationCard:hover .iconPart .icon {
    transform: scale(1.08);
    transition: transform 0.5s ease-in;

}

.part4 .equcationCard .iconPart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.part4 .equcationCard .iconPart .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    background-image: url(../assets/uniLogo.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    padding: 70px;
}

.part4 .equcationCard .detailsPart {
    width: 80%;
}

.part4 .equcationCard .detailsPart .headingPart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.part4 .equcationCard .detailsPart .headingPart .degreeTime {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 10px;
    border: 1px solid var(--primary-color-5);
    box-shadow: 0px 0px 5px var(--primary-color-2);
    background: var(--primary-color-2);
    border-radius: 10px;
}

.part4 .equcationCard .detailsPart .headingPart .degreeTime svg {
    font-size: 20px;
}


.part4 .equcationCard .detailsPart .headingPart .degreeTime p {
    font-size: small;
}

.part4 .equcationCard .detailsPart .degreeDetailsPart {
    width: 100%;
    display: flex;
}

.part4 .equcationCard .detailsPart .degreeDetailsPart .uniPart {
    width: 60%;
}

.part4 .equcationCard .detailsPart .degreeDetailsPart .uniPart .uniLocation {
    padding-top: 10px;
    display: flex;
    gap: 3px;
    align-items: center;
}

.part4 .equcationCard .detailsPart .degreeDetailsPart .uniPart .cources {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.part4 .equcationCard .detailsPart .uniPart .cources .cource {
    width: 40%;
    display: flex;
    font-size: small;
    gap: 5px;
}

.part4 .equcationCard .detailsPart .gpaPart {
    display: flex;
    justify-content: end;
    gap: 10px;
    flex-direction: column;
    padding-left: 10px;
    font-size: small;
}

.part4 .equcationCard .detailsPart .gpaPart .gpa {
    display: flex;
    align-items: center;
    gap: 5px;
}





@media (max-width:1260px) {
    .aboutMain .part1 .aboutMain1 .aboutbox {
        width: 35%;

    }

    .part3 .animationCard {
        width: 75%;

    }
}

@media (max-width:1110px) {
    .aboutMain .part1 .aboutMain1 .aboutbox {
        width: 40%;

    }

    .aboutMain .part1 .aboutMain2 img {
        width: 60%;
    }

    .aboutMain .part1 .aboutMain1 .hobbiesDiv {
        flex-wrap: wrap;

    }

    .part3 .animationCard {
        width: 80%;

    }

    .part4 .equcationCard {
        width: 85%;
    }


}

@media (max-width:1000px) {
    .aboutMain .part1 .aboutMain1 .aboutbox {
        width: 45%;

    }

    .part3 .animationCard {
        width: 85%;

    }

    .part4 .equcationCard {
        width: 90%;
    }
}

@media (max-width:890px) {
    .aboutMain .part1 .aboutMain1 .aboutbox {
        width: 50%;

    }

    .aboutMain .part1 .aboutMain2 img {
        width: 70%;
    }

    .aboutMain .part1 .aboutMain1 {
        padding: 0px;
    }

    .part3 .animationCard {
        width: 90%;

    }

    .part4 .equcationCard {
        width: 90%;
    }
}

@media (max-width:780px) {
    .aboutMain {


        padding-left: 30px;


    }

    .aboutMain .part1 .aboutMain1 .aboutbox {
        width: 55%;

    }

    .part3 .animationCard {
        width: 95%;

    }

    .part4 .equcationCard {
        width: 95%;
    }

}

@media (max-width:650px) {
    .aboutMain .part1 .aboutMain1 .aboutbox {
        width: 62%;

    }

    .aboutMain {
        padding-top: 100px;
        padding-left: 15px;
        padding-right: 10px;

    }

    .aboutMain .part1 {
        flex-direction: column;
    }

    .aboutMain .part1 .aboutMain1 {
        width: 100%;

    }

    .aboutMain .part1 .aboutMain2 {
        padding-top: 50px;
        width: 100%;


    }

    .aboutMain .part1 .aboutMain2 img {
        width: 70%;
    }

    .part3 .animationCard {
        width: 100%;

    }

    .part3 .experienceCard .experienceMain .experienceTab {
        padding: 13px;
        font-size: small;
        font-weight: 500;
    }

    .part3 .experienceCard .experienceDetails {
        padding: 20px;
    }

    .part3 p {
        font-size: small;
    }

    .part4 .equcationCard {
        width: 100%;
    }

    .part4 .equcationCard .detailsPart .degreeDetailsPart .uniPart .cources {
        width: 100%;
    }

    .part4 .equcationCard .detailsPart .uniPart .cources .cource {
        width: 100%;
    }

    .part4 .equcationCard {
        display: flex;
        padding: 20px;
        flex-direction: column;

    }

    .part4 .equcationCard .detailsPart {
        width: 100%;
    }

    .part4 .equcationCard .detailsPart .headingPart .degreeTime p {
        font-size: x-small;
    }



}